/* Header */

header {
    background-color: white;
    /* This property is used to fix any element to the screen, when screen is scrolled */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 64px;
    /* To impart shadow below the header */
    box-shadow: 0px 0px 20px #555;
}

.todoicon {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0 8px;
}

.bound {
    display: grid;
    grid-template-columns: 48px auto;
    padding: 8px;
}

/* .menubutton {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: white;
    border: none;
    outline: none;
}

.menubutton i {
    font-size: 24px;
}

.menubutton:hover {
    background-color: #dddddd;
} */

header .headertitle {
    /* This property is used to display element as inline-block element */
    display: inline;
    line-height: 48px;
    margin-left: 24px;
    font-size: 24px;
    font-family: verdana;
}
