.header {
      display: grid;
      grid-template-columns: auto 100px;
      padding: 0px 16px;
      position: fixed;
      top: 0%;
      left: 20%;
      width: 80%;
      height: 10%;
      z-index: 1;
}

#nav-drawer-button {
      justify-self: center;
      align-self: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: none;
      outline: none;
      background-color: transparent;
      display: none;
}

#nav-drawer-button:hover {
      background-color: #eeeeee;
}

#nav-drawer-button > img {
      width: 24px;
      height: 24px;
}

.header > h1 {
      align-self: center;
      color: #444444;
      font-family: Helvetica,"Helvetica Neue",Verdana, Geneva, Tahoma, sans-serif;
      font-weight: normal;
      margin: 0px;
}

.headerbutton {
      display: grid;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: none;
      justify-self: center;
      align-self: center;
      background: none;
      outline: none;
}

.headerbutton:hover {
      background-color: #e4e4e4;
}

.headerbutton > img {
      width: 24px;
      height: 24px;
      justify-self: center;
      align-self: center;
}

.theme-container {
      display: inline-grid;
      grid-template-columns: 1fr;
      justify-self: center;
      align-self: center;
}

.themes {
      background-color: rgba(0,0,0,0.6);
      padding: 8px;
      position: absolute;
      list-style: none;
      display: none;
}

.themes > li {
      font-family: Helvetica,"Helvetica Neue",Verdana, Geneva, Tahoma, sans-serif;
      padding: 8px;
      margin: 2px;
      display: block;
      color: white;
}

.themes > li:hover {
      background-color: #fbbc05;
      color: rgba(0,0,0,0.6);
}

#logoutbut {
      padding: 0px;
      margin: 12px;
      background-color: white;
      border: none;
      border: 2px solid #fbbc05;
      border-radius: 8px;
      color: #444444;
      box-shadow: 0px 0px 8px #888888;
      outline: none;
}

#logoutbut:hover {
      box-shadow: 0px 0px 4px #888888;
}