body , html {
      margin: 0px;
}

#heading {
      font-family: Helvetica,"Helvetica Neue",Verdana, Geneva, Tahoma, sans-serif;
      font-size: 56px;
      font-weight: normal;
}

#todoicon {
      height: 100px;
      width: 100px;
      align-self: flex-end;
}

.grid-head {
      display: grid;
      grid-template-columns: 1fr;
      height: 50%;
      justify-items: center;
      align-items: center;
}

#signin {
      background-color: #fbbc05;
      padding: 8px;
      border: none;
      box-shadow: 0px 0px 8px #888888;
      border-radius: 4px;
      width: 100px;
      font-family: Helvetica,"Helvetica Neue",Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      color: white;
      outline: none;
}

#signin:hover {
      box-shadow: 0px 0px 4px #888888;
}

.grid-home {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 4fr 6fr;
      top: 0%;
      position: fixed;
      height: 100%;
      width: 100%;
}

.grid-image {
      display: grid;
      padding: 16px;
}

#todopage {
      width: 100%;
      align-self: center;
      justify-self: center;
      box-shadow: 0px 0px 24px #888888;
      border-radius: 8px;
}

@media only screen and (max-width: 800px) {
      .grid-home {
            grid-template-columns: 1fr;
      }

      .grid-head {
            margin: 0px;
            grid-template-rows: 1fr 1fr 1fr;
      }

      .grid-image {
            display: none;
      }

      #heading {
            font-size: 40px;
      }

      #signin {
            font-size: 16px;
      }

      #todoicon {
            width: 75px;
            height: 75px;
      }
}