/* Side Navigation */

.sidenav {
    background-color: white;
    position: fixed;
    width: 0px;
    height: 85%;
    padding-top: 8px;

    overflow: hidden;
    top: 15%;
    left: 0%;
    transition: 0.3s;
}

.sidenav a {
    display: block;
    padding: 12px 18px;
    margin: 8px 16px;
    border-radius: 30px;

    /* To Remove the underline of Link element */
    text-decoration: none;

    text-decoration: none;
    color: black;
    font-family: verdana;
    font-size: 16px;
}

.sidenav a:hover:not(.active) {
    background-color: #ddd;
}

/* It is placed below hover, because it overwrites the background-color */
.sidenav a.active {
    background-color: #f6a2ad;
}

.sidenav table tr a {
    display: block;
    padding: 12px 18px;
    margin: 8px 16px;
    border-radius: 30px;


    /* To Remove the underline of Link element */
    text-decoration: none;

    color: black;
    font-family: verdana;
    font-size: 16px;
}

.sidenav table tr a:hover {
    background-color: #ddd;
}
