.sidenav {
      position: fixed;
      width: 20%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 12% 80% 8%;
      border-right: 1px solid #dddddd;
      top: 0%;
      left: 0%;
      height: 100%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-color: white;
}

.sidenavopen {
      position: absolute;
      width: 60%;
      z-index: 8;
}

.boundsidenavheader {
      display: grid;
      grid-template-columns: 48px auto;
      justify-items: center;
      align-items: center;
      box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.1);
}

#closesidenavbut {
      width: 24px;
      height: 24px;
}

.sidenav h2 {
      font-family: Helvetica,"Helvetica Neue",Verdana, Geneva, Tahoma, sans-serif;
      font-weight: normal;
      color: var(--theme-color);
      justify-self: baseline;
}

.task-group-container {
      overflow-y: scroll;
}

.task-group-container > a {
      display: grid;
      grid-template-columns: 20px auto;
      text-decoration: none;
      padding: 10px 32px;
}

#division {
      height: 0.5px;
      width: 100%;
      background-color: #cfcfcf;
      margin: 4px 0px;
}

.task-group-active {
      background-color: #f4f4f4;
      border-left: 4px solid var(--theme-color);
}

.task-group-container > a:hover {
      background-color: #f8f8f8;
}

.task-group-container > a > h4 {
      color: #444444;
      font-family: Helvetica,"Helvetica Neue",Verdana, Geneva, Tahoma, sans-serif;
      font-weight: normal;
      margin: 0px;
      margin-left: 16px;
}

.task-group-container > a > img {
      width: 20px;
      height: 20px;
      justify-self: center;
      align-self: center;
}

.addnewtaskgroup {
      display: grid;
      grid-template-columns: 1fr 5fr;
      padding: 0px 8px;
      align-content: center;
      box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.1);
}

.addnewtaskgroup:hover {
      background-color: #f8f8f8;
}

.addnewtaskgroup > h3 {
      align-self: center;
      color: var(--theme-color);
      line-height: 0px;
      font-family: Helvetica,"Helvetica Neue",Verdana, Geneva, Tahoma, sans-serif;
      font-weight: normal;
      margin-left: 8px;
}

.addnewtaskgroup > img {
      justify-self: center;
      align-self: center;
      width: 24px;
      height: 24px;
      color: var(--theme-color);
}