.task-manager {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px auto 60px 60px 60px;
      align-items: center;
      background-color: white;
      position: fixed;
      right: 0%;
      top: 10%;
      width: 0%;
      bottom: 0%;
      transition: width 0.5s;
      z-index: 3;
}

.task-display {
      display: grid;
      grid-template-columns: 48px auto;
      align-self: baseline;
      border-radius: 8px;
}

.tick-manager {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid #fbbc05;
      background-color: transparent;
      outline: none;
}

.tick-manager:not(.clicked) > img {
      visibility: hidden;
}

.tick-manager:hover > img {
      visibility: visible;
}

.clicked {
      background-color: #fbbc05;
}

#task-text {
      /* padding: 8px; */
      resize: none;
      background-color: transparent;
      font-family: Helvetica,"Helvetica Neue",Verdana, Geneva, Tahoma, sans-serif;
      font-size: 16px;
      border: none;
      outline: none;
}

#closetaskmanagerbutton {
      background-color: transparent;
      justify-self: start;
      align-self: baseline;
      border: none;
      outline: none;
}

#closetaskmanagerbutton > img {
      width: 24px;
      height: 24px;
}

.taskmanagerbut {
      display: grid;
      grid-template-columns: 30px auto;
      justify-items: center;
      align-items: center;
      padding: 8px;
      background-color: white;
      box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.15);
      border-radius: 4px;
}

.taskmanagerbut > img {
      width: 20px;
      height: 20px;
}

.taskmanagerbut > p {
      color: #666666;
      font-size: 16px;
      justify-self: baseline;
      padding-left: 8px;
      margin: 0px;
}

#taskmanagerdatebound {
      bottom: 0%;
      left: 0%;
      width: 100%;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

#taskmanagerdatebound > p {
      margin: 0px;
      padding: 8px;
}