@media only screen and (max-width: 800px) {
      .task-layout {
            left: 0%;
            width: 100%;
            top: 50px;
      }

      .boundinputfornewtask {
            left: 0%;
            height: 80px;
      }

      .input-shadow {
            width: 90%;
      }

      .task-container {
            left: 0%;
            width: 100%;
            top: 130px;
            max-height: 75%;
      }

      .icon {
            width: 16px;
            height: 16px;
      }

      .task {
            grid-template-columns: 48px auto;
            margin: 8px 16px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.15);
      }

      .textfortask {
            grid-column: 2/5;
            align-self: baseline;
      }

      .tick {
            width: 20px;
            height: 20px;
            align-self: baseline;
      }
}